{% extends 'appweb/nodriza.html' %}

{% block contenido %}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">DAR EN ADOPCION</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Ayudanos a buscarle un hogar </p>
    </div>



</header>
    </body>
</html>
<ul>
<form action="/inicio/reg_perros/" method="post">
    {% csrf_token %}
    
    <p>Nombre:                      <input type="text" name="nombre"></p>
    <p>Etapa(adulta,joven,cachorro):<input type="text" name="etapa"></p>
    <p>Raza:                        <input type="text" name="raza"></p>

    <input type="submit" value="Cargar">
  
</form>
</ul>
{% endblock %}